body{
    background-color: #101524;
    color: #ffffff;

}
#Category-Header-Main-Container{
    position: fixed;
    /* width: 82vw; */
    height: 7vh;
    top: 10vh;
    left: calc(18vw + 20px);
    /* background-color: blueviolet; */
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    /* background-color: rgb(255, 240, 240); */
    background-color: #101524;
    color: #F2DDCC;
    width: calc(82vw - 20px);
    border-left-style: solid ;
    border-left-width:  4px;
    border-left-color: rgb(127, 88, 255);

}
#Category-Header-create-btn-container{
    margin-left: auto;

}
#Category-Header-create-btn{

}

#category-main-view-container{
    margin-top: 17vh;
    margin-left: 18vw;
    /* background-color: beige; */
    width: 82vw;
    height: 83vh;
    overflow-y: auto;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 20px;
    justify-content: space-between;
    background-color: #101524;
    
}
.individual-category-main-container{
    /* background-color: greenyellow; */
    /* background-color: aliceblue; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(50% - 20px);
    background-color: #101524;
    color : #F2DDCC;
}
.individual-category-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    padding-left: 10px;
    padding-right: 10px;

}
.individual-category-header-image-container{
    width: 100px;
    height: 100px;
    margin-right: 10px;

}
.individual-category-header-image{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    object-fit: cover; /* This ensures the image covers the container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */ 
    

}
.individual-category-header-name-container{
    font-size: large;

}
.individual-category-description-container{
    /* background-color: aquamarine; */
    padding-top: 10px;
    /* min-height: 180px; */
    padding-left: 10px;
    padding-right: 10px;
    border-left-style: solid;
    border-left-color: #7f58ff ;
    border-left-width: 4px;
    display: -webkit-box;        /* Use WebKit's box model */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    -webkit-line-clamp: 5;       /* Show only 5 lines */
    overflow: hidden;            /* Hide the overflowing text */
    text-overflow: ellipsis; 
    text-decoration: none;

}
.individual-category-visit-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    

}
.individual-category-visit-button{
    background-color: rgb(251, 17, 99);
    color: white;
    font-weight: 600;
    border-style: solid;
    border-radius: 4px;
    border-color: transparent;
    height: 30px;
    width: 60px;
    cursor: pointer;

}